<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/corporate_training_and_feedback_management_platforms</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">deepak</property>

        <!-- Hibernate properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- <property name="hibernate.show_sql">true</property> -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mappings (Corporate Training & Feedback Platform) -->
        <mapping class="com.tnf.entity.Trainer"/>
        <mapping class="com.tnf.entity.Batch"/>
        <mapping class="com.tnf.entity.Trainee"/>
        <mapping class="com.tnf.entity.Feedback"/>
    </session-factory>
</hibernate-configuration>